/* Global Styles */
* {
    border: none;
    border-radius: 10px;
    font-family: FiraCode Nerd Font;
    font-weight: bold;
    font-size: 13px;
    min-height: 20px;
    margin: 0px;
    padding: 0px;
}

/* Module Styles */
.module {
    padding: 0px 7px;
    margin: 2px 0px;
}

/* Special Case: Left Margin for First Module in Left Section */
.modules-left > widget:first-child .module {
    margin-left: 1px;
}

/* Special Case: Right Margin for Last Module in Right Section */
.modules-right > widget:last-child .module {
    margin-right: 1px;
}

/* Window Styling */
window#waybar {
    background-color: transparent;
    color: #ff0066;
    transition: background-color 0.5s;
}

/* Make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Cava Module Styling */
#cava {
    background-color: transparent;
    color: #ff0066;
    animation: rgb-text 1.5s linear infinite;
}

/* Tooltip Styling */
menu,
tooltip {
    background: transparent;
    border-radius: 10px;
    border: 2px solid #ff0066;
    padding: 0px;
}

menu label,
tooltip label {
    color: #ff0066;
}

/* Workspaces Button Styling */
#workspaces button {
    color: #ff0066;
    background: transparent;
    font-weight: bold;
    padding: 0 5px;
}

#workspaces button.active {
    border: 2px solid #000000;
    animation: rgb-text 1s linear infinite, rgb-border 1s linear infinite;
    padding: 0 10px;
}

#workspaces button.visible {
    color: #ff0066;
}

#workspaces button.urgent {
    background: rgb(51, 0, 255);
    color: black;
    padding: 0 5px;
}

/* Keyframes for Animations */
@keyframes rgb-border {
    0% {
        background-color: transparent;
        border-color: #ff0066;
    }
    25% {
        background-color: transparent;
        border-color: #00ff22;
    }
    50% {
        background-color: transparent;
        border-color: #004cff;
    }
    75% {
        background-color: transparent;
        border-color: #feff00;
    }
    100% {
        background-color: transparent;
        border-color: #ff0066;
    }
}

@keyframes rgb-text {
    0% {
        color: #ff0066;
    }
    25% {
        color: #00ff22;
    }
    50% {
        color: #004cff;
    }
    75% {
        color: #feff00;
    }
    100% {
        color: #ff0066;
    }
}

@keyframes blink {
    to {
        background-color: transparent;
        color: red;
    }
}

/* Specific Module Styles */
#cpu,
#pulseaudio,
#idle_inhibitor,
#bluetooth,
#memory,
#temperature,
#custom-updates,
#clock,
#privacy,
#network,
#custom-notification,
#taskbar,
#user,
#systemd-failed-units,
#power,
#load,
#jack,
#cpu-load,
#image,
#workspaces {
    background-color: transparent;
    color: #ff0066;
}

#power {
    margin-right: 5px;
}

#temperature.critical {
    background-color: red;
}

/* Battery Module Styling */
#battery.charging,
#battery.plugged {
    background: transparent;
    border: 2px solid;
    color: #ff0066;
    animation: rgb-text 1s linear infinite, rgb-border 1s linear infinite;
    transition: background-color 0.5s;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
    background-color: #ff0066;
    color: black;
}

#battery.warning:not(.charging) {
    animation: blink 1s linear infinite alternate;
}

#battery.critical:not(.charging) {
    animation: blink 0.5s linear infinite alternate;
}

/* Focused Label Background */
label:focus {
    background-color: red;
}

/* Gradient Module Styles */
#mpd,
#mpris,
#window {
    background-color: transparent;
    border: 2px solid #ff0066;
    color: #ff0066;
    transition: background-color 0.5s;
}
#mpris{
    animation: rgb-text 5s linear infinite, rgb-border 5s linear infinite;
}
